{% extends "base.html" %}

{% block content %}
<h2 class="mt-5">ログインページ</h2>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-info">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}


<form action="" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">ユーザー名</label>
        <input class="form-control" type="text" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">パスワード</label>
        <input class="form-control" type="password" name="password" id="password" required>
    </div>
    <button type="submit" class="btn btn-primary">ログイン</button>
</form>

{% endblock %}