{% extends "base.html" %}

{% block content %}
<h2 class="mt-5">サインアップ</h2>
<form action="" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">ユーザー名</label>
        <input class="form-control" type="text" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">パスワード</label>
        <input class="form-control" type="password" name="password" id="password" required>
    </div>
    <button type="submit" class="btn btn-primary">サインアップ</button>
</form>

{% endblock %}